
      .cute-cat-a
      {
        width: 200px;
        border-radius: 8px;
        margin: 16px;
        vertical-align: top;
      }

      .cute-cat-b
      {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: center;
        margin: 16px;
      }

      .cute-cat-c
      {
        width: 200px;
        height: 200px;
        object-fit: cover;
        object-position: left;
        border-radius: 50%;
        margin: 16px;
      }

      .rounded-text-box
      {
        width: 200px;
        font-size: 12px;
        height: 24px;
        vertical-align: center;
        padding-left: 12px;
        border: solid;
        border-width: 1px;
        border-radius: 8px;
        border-color: rgb(141, 141, 141);
        margin: 16px;
      }

      .google-searchbar
      {
        border: none ;
        width: 300px;;
        padding: 12px 16px;
        box-shadow: 0 1px 5px rgba(100, 30, 30, 0.25);
        border-radius: 24px;
        margin : 16px;
      }


      .cute-cat-twitter
      {
        width: 32px;
        height: 32px;
        object-fit: cover;
        object-position: left;
        border-radius: 50%;
        vertical-align: middle;
        margin-left: 16px;
      }

      .twitter-textbox
      {
        width: 200px;
        padding: 8px 12px;
        border: none;
        vertical-align: middle;
      }


      .tweet-button
      {
        background-color: rgb(29, 155, 240);
        color: white;
        padding: 8px 16px;
        border-radius: 16px;
        border: none;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        vertical-align: middle;
      }

      .field-label
      {
        font-family: roboto;
        font-size: 10px;
        margin-bottom: 4px;
        color: rgb(70, 70, 70);
        margin-left: 16px;
      }

      .email-field
      {
        border-width: 1.4px;
        border-radius: 2px;
        height: 20px;
        width: 244px;
        margin-bottom: 8px;
        margin-left: 16px;
      }

      .agreement-clause
      {
        font-size: 10px;
        font-family: roboto;
        color: rgb(85, 85, 85);
        margin-left: 16px;
      }


      .privacy-policy
      {
        color: rgb(3, 101, 167);
        cursor: pointer;
      }


      .agree-and-join-button
      {
        background-color: rgb(16, 64, 176);
        color: white;
        padding: 8px 16px;
        width: 250px;
        border: none;
        border-radius: 24px;
        font-family: roboto;
        margin-top: 0px;
        font-size: 12px;
        margin-left: 16px;
      }
