  .numbered-button 
  {
    border: none;
    color: blue;
    text-decoration: underline;
    background-color: transparent;
    cursor: pointer;
    vertical-align: middle;
  }

  .back-button, .next-button 
  {
    border: solid;
    border-width: 1px;
    color: black;
    background-color: none;
    padding: 8px 8px;
    cursor: pointer;
    border-radius: 2px;
    }

    .shadow-button 
    {
      border: none;
      color: white;
      background-color: green;
      padding: 12px 24px;
      cursor: pointer;
      box-shadow: 2px 2px 5px grey;
      font-size: 16px;
      transition: margin 0.1s, box-shadow 0.1s;
    }

   .shadow-button:active
   {
     box-shadow: none;
     margin-top: 3px ;
     margin-left: 3px ;
   } 

   .stretch-button 
   {
     border: none;
     color: white;
     background-color: green;
     padding: 12px 24px;
     cursor: pointer;
     font-size: 16px;
     transition: padding 0.15s;
   }


   .stretch-button:hover
   {
     padding: 18px 36px;
   }

   .numbers-button 
   {
     border: none;
     color: white;
     background-color: green;
     padding: 12px 15px;
     cursor: pointer;
     margin: 10px;
     font-size: 16px;
     transition: padding 0.15s, margin 0.15s;

   }

   .numbers-button:hover 
   {
    padding-left: 25px;
    padding-right: 25px;
    margin: 0px;
   }