.red-square
      {
        width: 100px;
        height: 100px;
        background-color: red;
        display: block;
        margin-bottom: 16px;
      }

      .blue-circle
      {
        width: 100px;
        height: 100px;
        background-color: rgb(0, 174, 49);
        border-radius: 50%;
        display: block;
        margin-bottom: 16px;
      }


      .satisfaction-survey
      {
        width: 280px;
        border: 2px solid rgb(196, 196, 196);
        padding: 12px 8px;
        font-family: arial;
      }

      .satisfaction-question
      {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 12px;
      }


      .youtube-music
      {
        width: 280px;
        border: none;
        padding: 8px 8px;
        font-family: arial;
        margin-top: 24px;
        background-color: rgb(55, 55, 55);
        color: white;
        font-family: arial;
      }

      .install-youtube
      {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 8px;
        font-weight: bold;
      }

      .quick-and-easy
      {
        font-size: 12px;
        margin-top: 4px;
        margin-bottom: 8px;
        color: rgb(210, 205, 205);
      }

      .cute-cat-twitter
      {
        width: 32px;
        height: 32px;
        object-fit: cover;
        object-position: left;
        border-radius: 50%;
        vertical-align: middle;
      }

      .twitter-textbox
      {
        width: 160px;
        padding: 8px 12px;
        border: none;
        vertical-align: middle;
      }


      .tweet-button
      {
        background-color: rgb(29, 155, 240);
        color: white;
        padding: 8px 16px;
        border-radius: 16px;
        border: none;
        font-weight: bold;
        font-size: 12px;
        cursor: pointer;
        vertical-align: middle;
      }

      .twitter-tweet
      {
        display: inline-block;
        width: wrap-content;
        border: 2px solid rgb(196, 196, 196);
        padding: 4px 8px;
        font-family: arial;
        margin-top: 24px;
        margin-bottom: 24px;
        border-radius: 4px;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
      }

      .tweet-structure
      {
        font-size: 14px;
        margin-top: 4px;
        margin-bottom: 4px;
      }

      .add-friend-card
      {
        font-family: roboto;
        border: none;
        box-shadow: 0 1px 10px rgba(0, 0, 0, 0.15);
        width: wrap-content;
        display: inline-block;
        margin-right: 4px;
      }

      .profile-picture
      {
        width: 120px;
        height: 140px;
        display: block;
        object-fit: cover;
        object-position: left;

      }


      .lower-card
      {
        padding: 4px 4px;
        width: wrap-content;
      }


      .friend-name
      {
        font-size: 12px;
        font-weight: bold;
        margin-top: 4px;
        margin-bottom: 0px;
        display: inline-block;
      }

      .mutual-friends
      {
        font-size: 12px;
        color: rgb(120, 120, 120);
        margin-top: 2px;
        margin-bottom: 4px;
      }

      .add-friend-button  
      {
        background-color: rgb(20, 92, 249);
        color: white;
        border: none;
        padding: 8px 12px;
        font-size: 12px;
        border-radius: 2px;
        cursor: pointer;
      }