h1{
    color: blue;
    text-align: center;
    font-size: 32px;
}
h2{
    color: green;
    text-align: center;
    font-size: 25px;
}
h3{
    color: orange;
    text-align: center
}


    .title {
      color: black;
      font-size: 24px;
      font-weight: bold;
    }

    .price {
       color: green;
       font-size: 18px;
       }
    p  {
          color:black;
          font-size: 20px;
          font-weight: semi-bold;
          line-height: 20px;
        }

    .back-to-amazon
    {
      font-size: 16px;
    
    }

    .back-to-amazon:hover
    {
      cursor: pointer;
      color: orange;
    }

    .back-to-amazon:active
    {
      color: red;
    }

    .add-button
    {
      background-color: rgb(255, 216, 20);
      color: black;
      width: 120px;
      height: 36px;
      border-radius: 18px;
      border: none;
      font-weight: bold;
    }

    .add-button:hover
    {
      opacity: 0.7;
      cursor: pointer;
    }

    .add-button:active
    {
      opacity: 0.3;
    }

    .buy-button
    {
      background-color: rgb(255, 164, 28);
      color: black;
      height: 36px;
      width: 120px;
      margin-left: 16px;
      border-radius: 18px;
      border: none;
      font-weight: bold;
    }

    .buy-button:hover
    {
      opacity: 0.7;
      cursor: pointer;
    }

    .buy-button:active
    {
      opacity: 0.3;
    }


    

